body {
    background: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: large;
}

#hite {
    background-color: rgba(255, 255, 255, 0.950);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 30px;
    margin-bottom: 30vh;
}

div.faade {
    opacity: 0;
    transition: 500ms ease-in;
}

div.vis {
    opacity: 1;
}

.hobs {
    padding-top: 5vh;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

#para {
    margin-left: 5vw;
}


#bigpara {
    font-size: larger;
}

img {
    object-fit: fill;
    width: 200px;
}

#arro {
    width: 50px;
    margin-top: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#resource {
   
    text-align: center;
    text-decoration: none;
    color: black;


    
}



#resource:hover {
    font-size: xx-large;
}

.res {
    text-decoration: none;
    color: black;
    font-size: x-large;

    
}


.res:hover {
    text-decoration: underline;
}
